:root {
    --mainPurple: #C14EC7;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.coloredText {
    color: var(--mainPurple)
}

.page__header {
    position: relative;
    overflow-x: hidden;
}

.header__navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    align-items: center;
    overflow-x: hidden;
}

.header__navbar img {
    width: 42px;
}

.navbar__heading {
    text-transform: uppercase;
    font-weight: 400;
}

.navbar__hamburger {
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 44px;
    height: 27px;
    position: relative;
}

.navbar__hamburger span{
    content: "";
    background-color: white;
    width: 100%;
    height: 3px;
    position: absolute;
}

.navbar__menu {
    width: 100%;
    position: absolute;
    right: -100%;
    background-color: black;
    list-style-type: none;
    top: 27%;
    z-index: 100;
    padding: 0;
    transition: right 0.2s;
}

.navbar__menu--other {
    top: 32%;
}

.menu-active {
    right: 0;
    transition: right 0.3s;
}

.navbar__menu li {
    border: 4px white solid;
    text-align: center;
    padding: 10px 0;
}

.navbar__menu li:hover {
    background-color: var(--mainPurple);
}

.navbar__menu li:first-of-type {
    border-bottom: none;
}

.navbar__menu li a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    display: block;
}

.navbar__hamburger span:first-of-type {
    top: 0;
    transition: top 0.2s 0.2s, transform 0.2s;
}

.navbar__hamburger span:nth-of-type(2) {
    top: 12px;
    right: 0;
    opacity: 1;
    transition: right 0.2s, opacity 0.2s;
}

.navbar__hamburger span:last-of-type {
    bottom: 0;
    transition: bottom 0.2s 0.2s, transform 0.2s;
}

.hamburgerMenu-active span:first-of-type {
    top: 12px;
    transform: rotate(45deg);
    transition: top 0.2s, transform 0.2s 0.2s;
}

.hamburgerMenu-active span:nth-of-type(2) {
    right: -100%;
    opacity: 0;
    transition: right 0.2s, opacity 0.2s;
}

.hamburgerMenu-active span:last-of-type {
    bottom: 12px;
    transform: rotate(-45deg);
    transition: bottom 0.2s, transform 0.2s 0.2s;
}

.header__heading {
    text-align: center;
    width: 80%;
    margin: 1.5em auto;
    font-size: 2.3em;
}

.main__img {
    width: 100%;
}

.main__introductionText {
    margin: 1.5em 2em;
    font-size: 1.5em;
    font-weight: 500;
}

.main__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 1.5em 0;
}

.main__social img {
    width: 35px;
}

.main_goal {
    display: flex;
    flex-direction: column;
}

.main_goal__img {
    width: 100%;
}

.main_goal__text {
    margin: 0 2em;
    margin-bottom: 6em;
}

.main_goal__text p {
    font-size: 1.3em;
}

.main_goal__text p:first-of-type {
    font-size: 2em;
    text-transform: uppercase;
}

.main_feed__heading {
    text-align: center;
    font-weight: 800;
    font-size: 2em;
}

.main_feed {
    margin: 1em 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.main_feed__img {
    width: 100%;
    border: 5px solid white;
}

.main_feed__img:hover {
    border-color: var(--mainPurple);
}

.page__footer {
    background-color: #303030;
    padding: 1em 2em;
    color: white;
    padding-bottom: 3em;
}

.footer_start > p {
    font-size: 2em;
}

.footer_start__logos {
    display: flex;
    justify-content: space-between;
    margin: 2em 1em;
}

.footer_start__logos img {
    width: 45px;
}

.footer_middle {
    margin: 3em 0;
}


.footer_end {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_end img {
    width: 95px;
}

.page__main--contact {
    margin: 4em 2em;
}

.main_contact__heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.7em;
}

.main_contact_info__item {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 2em;
}

.main_contact_info__itemsFirst {
    margin-left: 1em;
    margin-top: 3em;
}

.main_contact_info__itemsSecond .main_contact_info__item {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin-bottom: 0;
}

.main_contact_info__itemsSecond .main_contact_info__item p:first-of-type {
    font-size: 1.7em;
    color: var(--mainPurple);
    text-transform: uppercase;
    margin-bottom: 0;
}

.main_contact_info__item img {
    width: 52px;
}

.main_contact_info__item p {
    font-weight: 600;
    font-size: 1.3em;
}

.news_main_item img {
    width: 100%;
}

.news_main_item p {
    margin-left: 1em;
    margin-right: 1em;
}

p.news_main_item__heading {
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

.news_main_item__hiddenText {
    display: none;
    font-size: 1.3em;
}

.news-textActive {
    display: block;
}

.news_main_item__link {
    text-decoration: underline;
    color: var(--mainPurple);
    font-size: 2.3em;
    margin-top: 0;
    cursor: pointer;
}

.news_main_item__link:hover {
    text-shadow: 1px 1px 2px black, 0 0 1.5em black;
}

.news_main_item__link--none {
    display: none;
}

@media screen and (min-width: 800px) { 
    .navbar__hamburger {
        visibility: hidden;
    }

    .navbar__menu {
        display: flex;
        right: 0;
    }

    .navbar__menu--other {
        top: 27%;
    }

    .navbar__menu li {
        width: 50%;
        padding: 6px 0;
    }

    .navbar__menu li:first-of-type {
        border-bottom: 4px solid white;
        border-right: 2px solid white;
    }

    .navbar__menu li:last-of-type {
        border-left: 2px solid white;
    }

    .navbar__menu li a {
        font-size: 1.5em;
    }

    .header__navbar {
        padding: 1.5em 3em;
    }

    .navbar__heading {
        font-weight: 800;
        font-size: 3em;
        margin: 0;
    }

    .header__heading {
        font-size: 3em;
        margin-top: 2em;
    }

    .page__main {
        width: 65%;
        margin: 0 auto;
    }

    .main__img {
        max-height: 300px;
        object-fit: cover;
    }

    .main__introductionText {
        margin: 1.5em 0;
    }

    .main__social {
        gap: 4em
    }

    .main__social img {
        width: 80px;
    }

    .main_goal {
        flex-direction: row;
        margin: 4em 0;
        gap: 3em
    }

    .main_goal__img{
        width: 50%;
        height: 100%;

    }

    .main_goal__text p:first-of-type {
        margin: 0;
        font-size: 1.5em;
    }

    .main_goal__text {
        font-size: 1.4em;
    }

    .main_feed {
        flex-direction: row;
        margin-bottom: 5em;
    }

    .main_feed__img {
        width: 31%
    }

    .page__footer {
        display: flex;
        justify-content: space-between;
        padding: 1em 4em;
        align-items: center;
    }

    .footer_start {
        display: flex;
        align-items: center;
    }

    .footer_start > p {
        font-size: 1.3em;
    }

    .footer_start__logos {
        gap: 1em;
        margin: 0;
        margin-left: 1.5em;
    }

    .footer_middle {
        display: flex;
        gap: 2em;
        margin: 0;
    }

    .footer_end {
        gap: 2em
    }

    .main_contact_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .page__main--contact {
        margin: 3em auto;
    }

    .main_contact_info__itemsFirst {
        margin-top: 0;
    }

    .news_main_item {
        display: flex;
        gap: 2em;
        margin-bottom: 8em;
    }

    p.news_main_item__heading {
        font-size: 1.6em;
        margin-left: 0;
        margin-right: 0;
    }

    .news_main_item__hiddenText {
        display: block;
        font-size: 1.4em;
    }

    .news_main_item__link--none {
        display: block;
    }

    #news-showText {
        display: none;
    }
    .news_main_item__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 65%;
    }

    .news_main_item__heading {
        margin-top: 0;
    }

}



